link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/libs/swiper/dist/css/swiper.min.css",rel="stylesheet")
link(href="/css/style.css",rel="stylesheet")

script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
<script src="/js/bootstrap-hover-dropdown.min.js"></script>
script(src="/libs/swiper/dist/js/swiper.min.js")
script(src="/js/bootstrap-paginator.js")
script(src="/js/jquery-form.js")



