doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{title}
		link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
		link(href="/css/style.css",rel="stylesheet")
		script(src="/libs/jquery/dist/jquery.min.js")
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
	body
		include ./includes/header
		block content
		footer
			.copyinfo © 武汉手绘 
		.mutiview-dialog-bg
			.modal_wrapper
				.mutiview-dialog
					span.close_btn x
					.mutiview-dialog-title
						.title.active.title_register 注册
						.title.title_login 登录
						.clearfix
					.mutiview-dialog-content.login
						.LoginForm
							form(method="post",action="/user/signin")
								.input-wrapper
									input(type="text",name="user[name]",placeholder="手机号")
								.input-wrapper
									input(type="password",name="user[password]",placeholder="密码")
								.actions
									button.btn 登录
								.sns.clearfix
									label.remember_me
										input(type="checkbox",name="",checked,value="true")
										span &nbsp;记住密码
									a.forget(href="",title="") 忘记密码？
					.mutiview-dialog-content.register
						.LoginForm
							form(method="post",action="/user/signup")
								.input-wrapper
									input(type="text",name="user[name]",placeholder="手机号")
								.input-wrapper
									input(type="password",name="user[password]",placeholder="密码")
								.input-wrapper
									input(type="text",name="",placeholder="请填写验证码")
									div.captcha-container 获取短信验证码
								.actions
									button.btn(type="submit") 注册
		script(src="/js/common.js")
