extends ../layout

block content
	#aboutUs.container
		section
			h2 关于我们
			.subtitle 让您满意是我们一直奋斗的目标！
			.line
			p 深圳手绘有限公司是由手绘墙品牌及艺术品商城平台组成的一家手绘艺术品公司。武汉地区最具品牌影响力的手绘品牌。主要从事墙体彩绘及车体彩绘、人体彩绘等艺术品绘画制作，服务于各企业单位、个人家庭、教育机构。提供专业而高水平的服务！并与政府、学校及房地产等公司有长期合作，得到政府、市民、及各媒体认可及好评。
			p 墙承接大型酒店、公司、会所、KTV、酒 吧、宾馆等高档手绘墙壁画、广场主题壁画、电视背景墙、沙发背景墙、卧室、儿童房间墙画、餐厅、走廊、阳台、厨房、卫浴间点缀、酒店大堂壁画、大堂天顶、 会议厅、主题 餐厅壁画、特色包房壁画、公司文化墙壁画、广场主题壁画、幼儿园、建筑物外墙、厂房、通道、立柱、天桥等的墙体绘画以及各种车体彩绘。深圳人艺把墙绘文化与视觉传达、环境艺术概念相结合，使墙绘在充满文化底蕴的同时又达到视觉与环境艺术相结合的完美和谐统一。
			p 我们采用纯手工绘画与纯手工喷绘相结合的技法进行绘制。色彩饱满，形象生动！我们的彩绘墙画不仅充满个性，智慧和创意，同时也让乏味的墙面、单调的家具和缺少灵动气息的生活空间活跃起来，真正将艺术融入您的生活，让您细细的去品味艺术人生……
			p 公司具备一流的绘画人才，充满艺术活力，是一支具有多项才能的年轻团队。人艺文化秉承质量第一，顾客至上的原则，每一项工作，都是依您的需求量身定做，全力为您打造一个温馨时尚充满艺术气息的个性空间。
			p 让您满意是我们一直奋斗的目标！
			p 我们的满意保证：
			p 花一样的价钱你可以在武汉手绘文化享受不一样的品质服务。每一件作品，均由经验丰富的专业人员完成，因此可确保您获得高品质的服务。
		section
			h2 联系我们
			.subtitle 让您满意是我们一直奋斗的目标！
			.line
			.us_qq
				.col-sm-2.col-md-2.col-lg-2.hidden-xs
					img.qq-img(src="/images/qqbigIcon.gif",alt="")
				.col-xs-6.col-sm-3.col-md-3.col-lg-3
					a(href='#',title="")
						img(src="/images/qqicon.gif",alt="") 
						span 1245699167
				.col-xs-6.col-sm-3.col-md-3.col-lg-3
					a(href='#',title="")
						img(src="/images/qqicon.gif",alt="") 
						span 1245699167
				.clearfix
			p 联系电话 &nbsp; &nbsp;武汉手绘全国统一咨询热线：0755-33554436  &nbsp; &nbsp;吴小姐：11111111111 
			p 联系地址 &nbsp; &nbsp;武汉市天下第一村
			.row.us_serve
				.col-xs-12.col-sm-4.col-md-4.col-lg-4.padding_b15
					h3 服务范围
					p 
						b 家装彩绘：
						span 电视背景墙、沙发背景墙、卧室、餐厅、客厅、儿童房、走郎、玄关、山水画、花鸟画、抽象艺术画等
					p 
						b 工装彩绘：
						span 企业形象宣传、商务会展、大型壁画、餐厅、酒店、咖啡店、甜品店、美容会所、KTV娱乐会所、广场壁画、校园墙绘、幼儿园彩绘等
					p 
						b 3D立体画：
						span 3D体验馆、创意3D宣传展示、地面立体画等
					p 
						b 隐形画：
						span KTV、酒吧、影院、娱乐会所、影院、艺术空间等
					p 
						b 个性涂鸦：
						span 幼儿园、文化墙、休闲场所、卡拉ok、溜冰场等
					p 
						b 城市街景：
						span 大型娱乐场所、婚纱影楼、摄影棚、相馆等
					p 
						b 装饰插画：
						span 家居插画、工程配画、时尚无框画、肖像画、大师名画临摹等
					p 
						b 英伦复古风：
						span 婚纱影楼、摄影棚、酒吧、咖啡馆、KTV会所、寺庙、仿古建筑物等
				.col-xs-12.col-sm-4.col-md-4.col-lg-4.padding_b15
					h3 价格咨询
					ul
						li 藤蔓花卉&nbsp;&nbsp;&nbsp;150-350元/平米
						li 卡通插画　　180-450元/平米
						li 国画山水　　300-950元/平米
						li 国画工笔　　300-950元/平米
						li 隐形壁画　　450-1200元/平米
						li 人物肖像　　500-1200元/平米
						li 油画系列　　500-1200元/平米
						li 英伦复古　　500-1200元/平米
						li 3D立体画 　 500-1500元/平米
						li 抽象写意　　500-1600元/平米
					b 特别说明：
					p 1、高空作业、大型壁画、绘画面积超过50平米，根据实地情况及图案难易度面谈；
					p 2、家装彩绘面积小于5平米，以图案难易度整幅收取费用，更多请咨询官方客服及最新优惠活动。
				.col-xs-12.col-sm-4.col-md-4.col-lg-4.padding_b15
					h3 温馨提示	
					b 2、墙面要求：
					p 通常情况下，墙面平整，墙体干爽，内墙刷过乳胶漆2次并已干透即可上门彩绘，特殊要求的环境，需更多了解实况，风格不同，墙面处理可特殊化。
					b 3、风格定位：
					p 家装彩绘可提前咨询我们，了解装修风格、冷暖色调及家具软装搭配，以及您个人及家庭成员的需求进行整体地设计规划，待设计定稿后，再对墙面做底色处理，相对较复杂的底色，可由我们专业画师为您绘制。工装彩绘通常面积较大，绘画种类多，需了解施工现场及更多需求。
					b 4、上门服务：
					p 家装彩绘，若时间上不赶，最好等家里装修风格和色调都有了，装修快完工的情况下，自己有一个初步想法最好。也可事先量好尺寸并拍照给我们咨询相关绘画需求。我们客服会为您提供适合您的案例供参考。工装彩绘可根据工期需求，配合环境条件上门服务。
		section
			h2 关于我们
			.subtitle 让您满意是我们一直奋斗的目标！
			.line
			.swiper-container.swiper-container2
				.swiper-wrapper
					.swiper-slide
						div
							img(src="http://2667966.s21i-2.faiusr.com/2/ABUIABACGAAgpLy-wQUo3pn1wgQwkQI4yQI.jpg",alt="")
						.team-info
							b 黎孟妮
							span &nbsp;&nbsp;画师
							p 性感可爱独特的插画师，对插画有着独特的绘画风格，对生活更是与众不同。对插画极度热爱，给自己定的《每天一画》更是坚持了近两年不曾间短，众多作品曾获得业内好评，被众多杂志征选为页面配画。
					.swiper-slide
						div
							img(src="http://2667966.s21i-2.faiusr.com/2/ABUIABACGAAgpLy-wQUo3pn1wgQwkQI4yQI.jpg",alt="")
						.team-info
							b 彭婉君
							span &nbsp;&nbsp;画师
							p 性感可爱独特的插画师，对插画有着独特的绘画风格，对生活更是与众不同。对插画极度热爱，给自己定的《每天一画》更是坚持了近两年不曾间短，众多作品曾获得业内好评，被众多杂志征选为页面配画。
					.swiper-slide
						div
							img(src="http://2667966.s21i-2.faiusr.com/2/ABUIABACGAAgpLy-wQUo3pn1wgQwkQI4yQI.jpg",alt="")
						.team-info
							b 田雅倩
							span &nbsp;&nbsp;画师
							p 性感可爱独特的插画师，对插画有着独特的绘画风格，对生活更是与众不同。对插画极度热爱，给自己定的《每天一画》更是坚持了近两年不曾间短，众多作品曾获得业内好评，被众多杂志征选为页面配画。
					.swiper-slide
						div
							img(src="http://2667966.s21i-2.faiusr.com/2/ABUIABACGAAgpLy-wQUo3pn1wgQwkQI4yQI.jpg",alt="")
						.team-info
							b 吴梦琴
							span &nbsp;&nbsp;画师
							p 性感可爱独特的插画师，对插画有着独特的绘画风格，对生活更是与众不同。对插画极度热爱，给自己定的《每天一画》更是坚持了近两年不曾间短，众多作品曾获得业内好评，被众多杂志征选为页面配画。
				