extends ../adminlay

block content
	.container
		.row
			form#adminForm.form-horizontal(method="post",action="/admin/category")
				input(type="hidden",name="genre[_id]",value=genre._id)
				if category._id
					input(type="hidden",name="category[_id]",value=category._id)
				.form-group
					label.col-sm-2.control-label(for="inputCategory") 关键字名称
					.col-sm-10
						input#inputCategory.form-control(type="text",name="category[name]",value=category.name,placeholder=category.name,maxlength='6')
				.form-group
					.col-sm-offset-2.col-sm-10
						.usertip
				.form-group
					.col-sm-offset-2.col-sm-10
						input.btn.btn-default#adminBtn(type="button" value="录入") 
	script(type='text/javascript').
		$(function(){
			$('#adminBtn').click(function(){
				if($('#inputCategory').val()==0){
					$('.usertip').html('关键字名称不能为空')
				}else{
					$('#adminForm').submit()
				}
			})
		})

