extends ../layout

block content
	#home.container
		.panel.panel-default
			.panel-body
				.col-xs-12.col-sm-6.col-md-6.col-lg-6.text-center
					.projects-header.page-header
						h3 武汉手绘专注艺术领域
					.panel-body.text-center
						p 武汉手绘具备一流的绘画人才，充满艺术活力，是一支具有多项才能的年轻团队。
						p 人艺文化秉承质量第一，顾客至上的原则，每一项工作，都是依您的需求量身定做，全力为您打造一个温馨时尚充满艺术气息的个性空间。
						.col-xs-6.col-sm-6.col-md-6.col-lg-6
							img.code_img(src="http://source.chengdumote.com/wp-content/uploads/2016/06/nvshen2-400x400.jpg",alt="")
							p 马上联系负责人
						.col-xs-6.col-sm-6.col-md-6.col-lg-6.home_contact
							a.home_qq(href='#',title="")
								img(src="/images/qqicon.gif",alt="")
								span 1245699167
							a.home_qq(href='#',title="")
								img(src="/images/qqicon.gif",alt="")
								span 1245699167
							div 吴小姐：18120583011
				.col-xs-12.col-sm-6.col-md-6.col-lg-6
					.page-header
						.pull-left
							strong 福利信息
						.pull-right
							a.more(href="#",title="") 查看更多
						.clearfix
					a.home_weal(href='#',title="")
						.col-xs-3.col-sm-3.col-md-3.col-lg-2.footer_weal
							img(src="http://source.chengdumote.com/wp-content/uploads/2016/06/nvshen2-400x400.jpg",alt="")
						.col-xs-9.col-sm-9.col-md-9.col-lg-10
							h4 发福利啦
							p jsdhsdsdjfdsfb
							span 发布：
								small 2016/06/09
						.clearfix
					a.home_weal(href='#',title="")
						.col-xs-3.col-sm-3.col-md-3.col-lg-2.footer_weal
							img(src="http://source.chengdumote.com/wp-content/uploads/2016/06/nvshen2-400x400.jpg",alt="")
						.col-xs-9.col-sm-9.col-md-9.col-lg-10
							h4 发福利啦
							p jsdhsdsdjfdsfb
							span 发布：
								small 2016/06/09
						.clearfix
		.row.home_case
			.page-header
				h2 墙绘
				p.case_desc 墙绘墙绘墙绘墙绘
			#qIndex
				//- ajax
		.row.home_case
			.page-header
				h2 工艺
				p.case_desc 工艺工艺工艺工艺工艺
			#gIndex
				//- ajax
		.row.home_case
			.page-header
				h2 图库
				p.case_desc 图库图库图库图库图库
			#tIndex
				//- ajax
	script(src="/js/ajax.js")
	script(type='text/javascript').
		$(function(){
			// index
			showScope('#qIndex','墙绘',12)
			showScope('#gIndex','工艺',12)
			showScope('#tIndex','图库',12)
		})