extends ../layout

block content
	#home.container
		.panel.panel-default
			.panel-body
				.col-xs-12.col-sm-6.col-md-6.col-lg-6.text-center
					.projects-header.page-header
						h3 武汉手绘专注艺术领域
					.panel-body.text-center
						p 武汉手绘具备一流的绘画人才，充满艺术活力，是一支具有多项才能的年轻团队。
						p 人艺文化秉承质量第一，顾客至上的原则，每一项工作，都是依您的需求量身定做，全力为您打造一个温馨时尚充满艺术气息的个性空间。
						.col-xs-6.col-sm-6.col-md-6.col-lg-6
							img.code_img(src="http://source.chengdumote.com/wp-content/uploads/2016/06/nvshen2-400x400.jpg",alt="")
							p 马上联系负责人
						.col-xs-6.col-sm-6.col-md-6.col-lg-6.home_contact
							a.home_qq(href='#',title="")
								img(src="/images/qqicon.gif",alt="")
								span 1245699167
							a.home_qq(href='#',title="")
								img(src="/images/qqicon.gif",alt="")
								span 1245699167
							div 吴小姐：18120583011
				.col-xs-12.col-sm-6.col-md-6.col-lg-6
					.page-header
						.pull-left
							strong 福利信息
						.pull-right
							a.more(href="#",title="") 查看更多
						.clearfix
					a.home_weal(href='#',title="")
						.col-xs-3.col-sm-3.col-md-3.col-lg-2.footer_weal
							img(src="http://source.chengdumote.com/wp-content/uploads/2016/06/nvshen2-400x400.jpg",alt="")
						.col-xs-9.col-sm-9.col-md-9.col-lg-10
							h4 发福利啦
							p jsdhsdsdjfdsfb
							span 发布：
								small 2016/06/09
						.clearfix
					a.home_weal(href='#',title="")
						.col-xs-3.col-sm-3.col-md-3.col-lg-2.footer_weal
							img(src="http://source.chengdumote.com/wp-content/uploads/2016/06/nvshen2-400x400.jpg",alt="")
						.col-xs-9.col-sm-9.col-md-9.col-lg-10
							h4 发福利啦
							p jsdhsdsdjfdsfb
							span 发布：
								small 2016/06/09
						.clearfix
		.row.home_case
			.page-header
				h2 墙绘作品展
				p.case_desc 每副作品都因为我们的集思广益而独具匠心，每一个笔触都具于我们无数次的推敲才跃然纸上，每一抹色彩都记录了我们曾经看过的风景。
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.case
				.user_case
					a(href="#",title="")
						img(src="http://www.szshouhui.com/wp-content/uploads/2014/08/儿童房手绘56bOOOfPIC29_1024-227x180.jpg",alt="")
					.case-info
						strong 【雪佛兰】全新科鲁兹
						.case_status
							i.iconfont &#xe637;
							span 62562 &nbsp;|&nbsp;
							i.iconfont.icon_love &#xe62b;
							span 45616
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.case
				.user_case
					a(href="#",title="")
						img(src="http://www.szshouhui.com/wp-content/uploads/2014/08/儿童房手绘56bOOOfPIC29_1024-227x180.jpg",alt="")
					.case-info
						strong 【雪佛兰】全新科鲁兹
						.case_status
							i.iconfont &#xe637;
							span 62562 &nbsp;|&nbsp;
							i.iconfont.icon_love &#xe62b;
							span 45616
			.clearfix
			.col-md-6.col-md-offset-3
				a.case_more(href='#',title='') 查看所有墙绘作品
		.row.home_case
			.page-header
				h2 墙绘作品展
				p.case_desc 每副作品都因为我们的集思广益而独具匠心，每一个笔触都具于我们无数次的推敲才跃然纸上，每一抹色彩都记录了我们曾经看过的风景。
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.case
				.user_case
					a(href="#",title="")
						img(src="http://www.szshouhui.com/wp-content/uploads/2014/08/儿童房手绘56bOOOfPIC29_1024-227x180.jpg",alt="")
					.case-info
						strong 【雪佛兰】全新科鲁兹
						.case_status
							i.iconfont &#xe637;
							span 62562 &nbsp;|&nbsp;
							i.iconfont.icon_love &#xe62b;
							span 45616
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.case
				.user_case
					a(href="#",title="")
						img(src="http://www.szshouhui.com/wp-content/uploads/2014/08/儿童房手绘56bOOOfPIC29_1024-227x180.jpg",alt="")
					.case-info
						strong 【雪佛兰】全新科鲁兹
						.case_status
							i.iconfont &#xe637;
							span 62562 &nbsp;|&nbsp;
							i.iconfont.icon_love &#xe62b;
							span 45616
			.clearfix
			.col-md-6.col-md-offset-3
				a.case_more(href='#',title='') 查看所有墙绘作品
		.row.home_case
			.page-header
				h2 墙绘作品展
				p.case_desc 每副作品都因为我们的集思广益而独具匠心，每一个笔触都具于我们无数次的推敲才跃然纸上，每一抹色彩都记录了我们曾经看过的风景。
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.case
				.user_case
					a(href="#",title="")
						img(src="http://www.szshouhui.com/wp-content/uploads/2014/08/儿童房手绘56bOOOfPIC29_1024-227x180.jpg",alt="")
					.case-info
						strong 【雪佛兰】全新科鲁兹
						.case_status
							i.iconfont &#xe637;
							span 62562 &nbsp;|&nbsp;
							i.iconfont.icon_love &#xe62b;
							span 45616
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.case
				.user_case
					a(href="#",title="")
						img(src="http://www.szshouhui.com/wp-content/uploads/2014/08/儿童房手绘56bOOOfPIC29_1024-227x180.jpg",alt="")
					.case-info
						strong 【雪佛兰】全新科鲁兹
						.case_status
							i.iconfont &#xe637;
							span 62562 &nbsp;|&nbsp;
							i.iconfont.icon_love &#xe62b;
							span 45616
			.clearfix
			.col-md-6.col-md-offset-3
				a.case_more(href='#',title='') 查看所有墙绘作品
		





