extends ../layout

block content
	.information.container
		ol.breadcrumb.visible-xs
			li
				a(href="#",title="") 首页
			li
				a(href="#",title="") 工装
			li.active
				a(href="#",title="") 儿童房
		.ul
			a.home_weal(href='#',title="")
				.col-xs-3.col-sm-3.col-md-3.col-lg-2
					img(src="http://source.chengdumote.com/wp-content/uploads/2016/06/nvshen2-400x400.jpg",alt="")
				.col-xs-9.col-sm-9.col-md-9.col-lg-10
					h4 【雪佛兰】全新科鲁兹
					p jsdhsdsdjfdsfb
					span 发布：
						small 2016/06/09
				.case_status
					p
						i.iconfont &#xe637;
						span 62562 &nbsp;|&nbsp;
						i.iconfont.icon_love &#xe62b;
						span 45616
				.clearfix
		.infor_content
			a.info_img(href="http://www.szshouhui.com/wp-content/uploads/2014/09/431283715722531769.jpg",title="")
				img(src="http://www.szshouhui.com/wp-content/uploads/2014/09/431283715722531769.jpg",alt="")
			p —-人艺原创。每个人都有一个画画的梦。只是自始至终你都没动手尝试过画画可以让你忘记时间，让你忘记内心的烦恼，此刻的你是最美的
			a.info_img(href="http://www.szshouhui.com/wp-content/uploads/2014/09/431283715722531769.jpg",title="")
				img(src="http://www.szshouhui.com/wp-content/uploads/2014/09/431283715722531769.jpg",alt="")
			a.info_img(href="http://www.szshouhui.com/wp-content/uploads/2014/09/431283715722531769.jpg",title="")
				img(src="http://www.szshouhui.com/wp-content/uploads/2014/09/431283715722531769.jpg",alt="")
			.clearfix






