extends ../layout

block content
	#qiangHui.container
		ol.breadcrumb.visible-xs
			li
				a(href="#",title="") 首页
			li.active
				a(href="#",title="") 图库
		.select_title
			.col-xs-3.col-sm-2.col-md-2.col-lg-2.no_padding.small_title.active 图库
			.col-xs-9.col-sm-10.col-md-10.col-lg-10.no_padding
				.col-xs-3.col-sm-2.col-md-2.col-lg-2.small_title 工装
				.col-xs-3.col-sm-2.col-md-2.col-lg-2.small_title 家装
				.col-xs-3.col-sm-2.col-md-2.col-lg-2.small_title 3D
				.col-xs-3.col-sm-2.col-md-2.col-lg-2.small_title 挂画
				.col-xs-3.col-sm-2.col-md-2.col-lg-2.small_title 其他
			.clearfix
		.home_case.row
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.case
				.user_case
					a(href="#",title="")
						img(src="http://www.szshouhui.com/wp-content/uploads/2014/08/儿童房手绘56bOOOfPIC29_1024-227x180.jpg",alt="")
					.case-info
						strong 【雪佛兰】全新科鲁兹
						.case_status
							i.iconfont &#xe637;
							span 62562 &nbsp;|&nbsp;
							i.iconfont.icon_love &#xe62b;
							span 45616
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.case
				.user_case
					a(href="#",title="")
						img(src="http://www.szshouhui.com/wp-content/uploads/2014/08/儿童房手绘56bOOOfPIC29_1024-227x180.jpg",alt="")
					.case-info
						strong 【雪佛兰】全新科鲁兹
						.case_status
							i.iconfont &#xe637;
							span 62562 &nbsp;|&nbsp;
							i.iconfont.icon_love &#xe62b;
							span 45616
			.clearfix



		





