extends ../layout

block content
	.container
		.user_header
			a.logout(href="/user/logout" title="") 退出
			.radius
				.user_img
			p 用户名
			ul.user_nav
				li 账号设置
				li.active 我的收藏
				li 我的评论
		.user_content
			.content.user_info
				form(action="" method="post")
					table.list
						tbody
							tr
								td.title 手机号码&nbsp;:
								td.center 111111111
							tr
								td.title 用户名&nbsp;:
								td
									input.clear-input(type="text" name="profile[name]")
							tr
								td.title QQ邮箱&nbsp;:
								td
									input.clear-input(type="text" name="profile[email]")
							tr
								td.title 收货地址&nbsp;:
								td
									input.clear-input(type="text" name="profile[address]")
							tr
								td.center.pass_tilte(colspan="2") 修改密码
							tr
								td.title 当前密码&nbsp;:
								td
									input.clear-input(type="password" name="password[old]")
							tr
								td.title 新密码&nbsp;:
								td
									input.clear-input(type="password" name="password[new]")
							tr
								td.title 确认新密码&nbsp;:
								td
									input.clear-input(type="password" name="password[confirm]")		
							tr
								td.title
								td
									button 保存
			//- 收藏
			.content.user_loved
				.col-xs-6.col-sm-4.col-md-3.col-lg-3.case
					.user_case
						a(href="#",title="")
							img(src="http://www.szshouhui.com/wp-content/uploads/2014/08/儿童房手绘56bOOOfPIC29_1024-227x180.jpg",alt="")
						.case-info
							strong 【雪佛兰】全新科鲁兹
							.case_status
								i.iconfont &#xe637;
								span 62562 &nbsp;|&nbsp;
								i.iconfont.icon_love &#xe62b;
								span 45616
			//- 评论
			.content.user_comment

		





