doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{title}
		link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
		link(href="/libs/wangEditor/dist/css/wangEditor.min.css",rel="stylesheet")
		link(href="/css/style.css",rel="stylesheet")
		script(src="/libs/jquery/dist/jquery.min.js")
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
		script(src="/libs/wangEditor/dist/js/wangEditor.min.js")
		script(src="/js/bootstrap-paginator.js")
	body
		header
			nav.navbar.navbar-fixed-top
				.navbar-inner
					.container
						.navbar-header.xs_box
							li.dropdown
									a.visible-xs.iconfont.user_icon.dropdown-toggle(href="",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false") &#xe61b;
									ul.dropdown-menu
										li
											a(href="/user/logout" title="") 退出
							a.navbar-brand.logo.adminlogo(href="#",alt="") 武汉手绘后台
							button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1",aria-expanded="false")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
						#bs-example-navbar-collapse-1.collapse.navbar-collapse
							ul.nav.navbar-nav.navbar-right
								li
									a(href="/admin/userlist",title='')  用户列表
								li
									a(href="/admin/genre_list",title='') 分类列表
								li
									a(href="/admin/list",title='')  图片列表
								li
									a(href="/admin/note_list",title='') 福利帖子
								li.dropdown.hidden-xs
									a.iconfont.user_icon.dropdown-toggle(href="",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false") &#xe61b;
									ul.dropdown-menu
										li
											a(href="/user/logout" title="") 退出
						.clearfix
		.container
			.row
				.page-header
					h2.center #{title}
			block content
			footer
				.clearfooter
				.copyinfo.navbar-fixed-bottom © 武汉手绘 
		script(src="/js/common.js")
		script(src="/js/admin.js")
